*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header  styles */
.header{
    background: url('../images/banner/banner1.png');
    width: 1350px;
    height: 700px;
}
.banner{
    margin-left: 845px;
    margin-right: 100px;
    padding-top: 216px;
    align-items: center;
}
.banner-title{
    color: #151414;
    font-weight: 700;
    font-size: 50px;
    text-align:  right;
}
.banner-description{
    color: #444343;
    font-size: 14px;
    text-align: right;
    margin-top: 10px;
}
.btn-contact{
    width: 200px;
    height: 64px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    border-color: transparent;
    padding: 20px 30px 26px 26px;
    margin-top: 30px;
    margin-left: 200px;
}
/* Person section styles */
.section-container{
    margin: 130px 100px ;
    display: flex;
}
.person-section{
    display: flex;
    align-items: center; 
}
.list{
    margin-left: 0px;
    margin-top: 15px;
}
.person-description{
    padding-left: 100px;
    margin-top: 150px;
}
.person-title{
    font-weight: 700;
    font-size: 50px;
    color: #151414;
    margin-bottom: 24px;
}
/* My plans section styles */
.plans-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.my-plans-section{
    margin: 130px 230px ;
    text-align: center;
}
.plan-info-container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.plan-info{
    margin-top: 50px;
}
.plan-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 16px;
    margin-bottom: 16px;
}
.plan-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}